html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #c5c5c5, #707070);
    display: flex;
    font-family: 'dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    background: #161616;
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: #353535;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    color: #fff;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc_button_row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc_button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: #353535;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    color: #fff;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc_button:last-child {
    color: #fff;
    background: #ff6600;
    border-radius: 16px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
}

.calc_button:last-child:hover {
    background-color: #ad4500;
}

.calc_button:hover {
    background-color: #1d1d1d;
}

.calc_button:active {
    background-color: #ffef78;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 47%;
}